footer.rodape {
  color: var(--white);
  background-color: var(--dark-blue);
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

footer.rodape
section.itens-rodape {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

footer.rodape
section.itens-rodape
div.esquerdo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

footer.rodape
section.itens-rodape
div.esquerdo 
div.imagens,
footer.rodape
section.itens-rodape
div.esquerdo 
div.sobre,
footer.rodape
section.itens-rodape
div.esquerdo 
div.mais-informacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7.5rem;
}

footer.rodape
section.itens-rodape
div.esquerdo 
div.imagens
div.redes-sociais{
  display: flex;
  justify-content: space-between;
}

footer.rodape
section.itens-rodape
div.esquerdo 
div.sobre 
a.link,
footer.rodape
section.itens-rodape
div.esquerdo 
div.mais-informacoes
a.link {
  font-family: 'Public Sans', sans-serif;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}

footer.rodape
section.itens-rodape
div.direito {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7.5rem;
}

footer.rodape
section.itens-rodape
div.direito
button.request {
  width: 16rem;
  align-self: flex-end;
}

footer.rodape
section.itens-rodape
div.direito 
span.direitos {
  font-family: 'Public Sans', sans-serif;
  color: var(--grayish-blue);
  font-size: 1.4rem;
  font-weight: 400;
}