footer.rodape {
  color: var(--white);
  background-color: var(--dark-blue);
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
}

footer.rodape
section.itens-rodape {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

footer.rodape
section.itens-rodape
div.esquerdo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

footer.rodape
section.itens-rodape
div.esquerdo 
div.imagens,
footer.rodape
section.itens-rodape
div.esquerdo 
div.sobre,
footer.rodape
section.itens-rodape
div.esquerdo 
div.mais-informacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7.5rem;
}

footer.rodape
section.itens-rodape
div.esquerdo 
div.imagens
div.redes-sociais {
  display: flex;
  justify-content: space-between;
}

footer.rodape
section.itens-rodape
div.esquerdo 
div.imagens
div.redes-sociais
svg:hover path {
  fill: var(--lime-green);
}

footer.rodape
section.itens-rodape
div.esquerdo 
div.imagens
div.redes-sociais {
  cursor: pointer;
}

footer.rodape
section.itens-rodape
div.esquerdo 
div.sobre 
a.link,
footer.rodape
section.itens-rodape
div.esquerdo 
div.mais-informacoes
a.link {
  font-family: 'Public Sans', sans-serif;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  transition: all .3s;
}

footer.rodape
section.itens-rodape
div.esquerdo 
div.sobre 
a.link:hover,
footer.rodape
section.itens-rodape
div.esquerdo 
div.mais-informacoes
a.link:hover {
  color: var(--lime-green);
}

footer.rodape
section.itens-rodape
div.direito {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7.5rem;
}

footer.rodape
section.itens-rodape
div.direito
button.request {
  width: 16rem;
  align-self: flex-end;
}

footer.rodape
section.itens-rodape
div.direito 
span.direitos {
  font-family: 'Public Sans', sans-serif;
  color: var(--grayish-blue);
  font-size: 1.4rem;
  font-weight: 400;
}

@media screen and (max-width: 425px) {
  footer.rodape {
    padding-top: 1.6rem;
  }
  footer.rodape
  section.itens-rodape {
    flex-direction: column;
  }

  footer.rodape
  section.itens-rodape
  div.esquerdo {
    flex-direction: column;
    height: 32.5rem;
    justify-content: space-evenly;
  }

  footer.rodape
  section.itens-rodape
  div.esquerdo 
  div.imagens {
    width: 100%;
    margin-bottom: 1.6rem;
  }

  footer.rodape
  section.itens-rodape
  div.esquerdo 
  div.imagens
  img.logo-rodape {
    width: 14rem;
    align-self: center;
  }

  footer.rodape
  section.itens-rodape
  div.esquerdo 
  div.imagens
  div.redes-sociais {
    justify-content: space-around;
  }

  footer.rodape
  section.itens-rodape
  div.esquerdo 
  div.sobre,
  footer.rodape
  section.itens-rodape
  div.esquerdo 
  div.mais-informacoes {
    text-align: center;
  }

  footer.rodape
  section.itens-rodape
  div.direito {
    margin-top: 1.6rem;
  }

  footer.rodape
  section.itens-rodape
  div.direito
  button.request {
    align-self: center;
  }
}