main {
  position: relative;
  overflow: hidden;
}

main 
img.mockups-desktop {
  width: 64.6rem;
  position: absolute;
  top: -10rem;
  right: -11rem;
}

@media screen and (max-width: 425px) {
  main 
  img.mockups-desktop {
    top: -14rem;
    width: 38rem;
    right: 2rem;
  }
}