section.beneficios {
  min-height: calc(100vh - 3.2rem);
  background: var(--light-grayish);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section.beneficios 
div.texto {
  padding-top: 5.8rem;
  width: 100%;
}

section.beneficios 
div.texto
h2.titulo {
  color: var(--dark-blue);
  font-size: 3.6rem;
  font-weight: 400;
}

section.beneficios 
div.texto
p.paragrafo {
  color: var(--grayish-blue);
  font-size: 1.6rem;
  font-weight: 500;
  width: 59rem;
  line-height: 2.2rem;
  margin-top: 2.4rem;
}

section.beneficios
div.card-beneficios {
  display: flex;
  justify-content: space-between;
}

section.beneficios
div.card-beneficios
div.beneficio {
  display: flex;
  flex-direction: column;
  width: 20%;
}

section.beneficios
div.card-beneficios
div.beneficio 
img.icone {
  width: 6.4rem;
}

section.beneficios
div.card-beneficios
div.beneficio 
h3.titulo {
  color: var(--dark-blue);
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2.4rem 0;
} 

section.beneficios
div.card-beneficios
div.beneficio
p.paragrafo {
  color: var(--grayish-blue);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
}