section.ultimos-artigos {
  min-height: 100vh;
  background: var(--very-light-gray);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}

section.ultimos-artigos
h2.titulo-section {
  color: var(--dark-blue);
  font-size: 3.6rem;
  font-weight: 300;
}

section.ultimos-artigos
div.artigos {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

section.ultimos-artigos
div.artigos
div.artigo {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 23%;
  background: var(--white);
  border-radius: .8rem;
}

section.ultimos-artigos
div.artigos
div.artigo
div.texto {
  padding: 1.6rem;
}

section.ultimos-artigos
div.artigos
div.artigo
img.banner {
  height: 14.8rem;
}

section.ultimos-artigos
div.artigos
div.artigo
div.texto
span.autor {
  color: var(--grayish-blue);
  font-size: 1rem;
  font-weight: 400;
}

section.ultimos-artigos
div.artigos
div.artigo
div.texto
h3.titulo {
  color: var(--dark-blue);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin: 1.2rem 0;
  transition: all .3s;
}

section.ultimos-artigos
div.artigos
div.artigo
div.texto
h3.titulo:hover {
  color: var(--lime-green);
  cursor: pointer;
}

section.ultimos-artigos
div.artigos
div.artigo
div.texto
p.introducao {
  color: var(--grayish-blue);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}